*{    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
    padding: 2% 2%;
}

html, body {
    height: 100%;
}

body{
    background-image: url("img/fondo.png"), url("img/fondo.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center bottom, top;
    background-size: 100%, 10%;
    background-attachment: fixed;
    width: 100%;
}


.cabecera{
    align-items: justify;
    display: flex;
    width: 50%;
    justify-content: space-around;
    color: #E9BB3F;
    font-weight: 700;
    padding: 5px 10% 0;
    margin: 30px 10% 0 25% ;
}

.logo{
    width: 50px;
}

.titulo{
    padding: 15px 10% 0;
    font-size: 2rem;
}

.cero{
    background: #000000;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 35%;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 32px;
    height: auto;
}
.uno{
    display: inline-block;
    justify-content: stretch;
    width: 45%;
}

.dos{
    display: inline-block;
    width: 45%;
}

.textarea-container {
    display: flex;
    justify-content: stretch;
    height: 80%;
    width: 100%;
    
}

.ingresarTexto{
    background: #E9BB3F;
    text-align: center;
    border: none;    
    border-radius: 32px;
    color: #0A3871;
    margin-top: 10px;
    text-transform: lowercase;
    resize: none;
}

::placeholder{color: #0A3871;}
    .ingresarTexto:focus{
        outline: none;
    }

.mensaje{
    background: #E9BB3F;
    background-image: url("img/muneco.png");
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-top: 10px;
    resize: none;   
}

.botones{
    width: 100%;
    margin-top: 5px;  
}

.botonEncriptar{
    background-color: #ffffff;
    border: 1px solid #E9BB3F;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    width: 190px;
}

.botonDesencriptar{
    background-color: #ffffff;
    border: 1px solid #E9BB3F;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    width: 190px;
}

.copiar{
    background-color: #ffffff;
    border: 1px solid #E9BB3F;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    width: 190px;
    text-size-adjust: auto;
    margin-left: 25%;
}

footer{
    width: 940px;
    background-image: url("img/bg2.jpg");
    background-repeat: repeat;
    background-position: bottom;
    border-radius: 24px;
    width: 49%;
    margin: 0 0 0 35%;
    bottom: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    position: fixed;
    bottom: 0;
}

.lista{
    display: flex; 
    align-items: center;
}

.item{
    align-items: center;
    width: 35%;
    padding-top: 10px;

}

.copyright{
    display: flex; 
    font-size: 1em;
    font-weight: 700;
    color: #0A3871;
    margin: 5px;
}


@media screen and (max-width: 768px){
    .cero{
        justify-content: block;
        height: 80%;
    }
    .uno{
        width: 90%;
        justify-content: center;
    }
        .dos{
        width: 90%;
 
    }
    .botonEncriptar{
        border-radius: 15px;
        width: 150px;
        height: 50px;
        margin: 5px 5px 5px 45px;
        font-size: 1.5rem;
    }
    .botonDesencriptar{
        border-radius: 15px;
        width: 150px;
        height: 50px;
        margin: auto;
        font-size: 1.5rem;
    }    
    .copiar{
        border-radius: 15px;
        width: 150px;
        height: 50px;
        margin: auto;
        font-size: 1.5rem;
    }    
}

@media screen and (max-width: 1080px){
    .cero{
        display:  block;
        justify-content: center;
        height: 80%;
    }
    .uno{
        width: 90%;
        
        position: center;
        margin: 3px 0 0 3%;
    }
        .dos{
        
        width: 90%;
        margin: 15px 0 0 3%;
    }
    .botonEncriptar{
        border-radius: 15px;
        width: 140px;
        height: 50px;
        margin-top: 3px;
        margin-left: auto; 
        margin-right: auto;
        display: block;
        text-align: center;
    }
    .botonDesencriptar{
        border-radius: 15px;
        width: 175px;
        height: 50px;
        margin-top: 3px;
        margin-left: auto; 
        margin-right: auto;
        display: block;
        text-align: center;
    }    
    .copiar{
        border-radius: 15px;
        width: 150px;
        height: 50px;
        margin-top: 3px;
        margin-left: auto; 
        margin-right: auto;
        display: block;
        text-align: center;
    }    
}